
.nav{
    display: flex;
    justify-content:center ;
    font-size: 50px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.login-box{
    height: 75%;
    width: 25%;
    background:rgb(105, 105, 105);
    border-radius: 30px;
    padding: 10px;
    
}

.login-info input{
    width: 100%;
    border: 2px;
    margin:20% 0;
    height: 100%;
}